@media (min-width:856px) {
    body {
        font-family: 'Caveat', cursive;
        margin: 0;
        padding: 0;
        text-align: center;
        background-size: cover;
        background-image: linear-gradient(to right, #e6e6e9, #c3c3e6, #e6e6e9);
        min-width: 670px;
    }

    .nav {
        font-size: 2vw;
        margin: 20px auto;
        background: rgba(69, 69, 87, 0.1);
        backdrop-filter: blur(8px);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 3vw;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 1vw 6vw;
        max-width: fit-content;
        border-radius: 20px;
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1), -3px -3px 8px rgba(0, 0, 0, 0.1);
        z-index: 1;
    }

    .nav a {
        background-color: rgb(255, 255, 255, 0.8);
        padding: 5px 15px;
        border-radius: 20px;
        text-decoration: none;
        color: black;
        transition: 0.5s;
        font-size: 1.5vw;
    }

    .nav a:hover {
        background-color: rgb(0, 0, 0);
        color: white;
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1), -3px -3px 8px rgba(0, 0, 0, 0.1);
    }

    .name {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-top: 200px;
    }

    .name span {
        font-weight: bold;
        font-style: italic;
        font-size: 10vw;
    }

    .sub {
        margin: 30px auto;
        max-width: fit-content;
        font-size: 3vw;
    }



    .about {
        margin: 6vw;
        padding: 4vw;
        border-radius: 20px;
        background: rgba(69, 69, 87, 0.1);
        backdrop-filter: blur(8px);
        /* border: 10px solid rgb(0, 0, 0); */
        box-shadow: 8px 8px 10px rgba(69, 69, 87, 0.3), -1px -1px 10px rgba(69, 69, 87, 0.3);
        transition: 0.5s;
    }

    .about p {
        font-size: 2vw;
        font-weight: bold;
    }

    .about:hover {
        color: white;
        background: black;
    }

    .project {
        margin: 6vw;
        padding: 4vw;
        border-radius: 20px;
        background: rgba(69, 69, 87, 0.1);
        backdrop-filter: blur(8px);
        box-shadow: 8px 8px 10px rgba(69, 69, 87, 0.3), -1px -1px 10px rgba(69, 69, 87, 0.3);
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        font-size: 2vw;
    }

    .p_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 2vw;
    }

    .p_card {
        background: white;
        padding: 2vw;
        max-width: fit-content;
        border-radius: 20px;
        box-shadow: 8px 8px 10px rgba(69, 69, 87, 0.3), -1px -1px 10px rgba(69, 69, 87, 0.3);
        transition: 0.5s;
        font-weight: bold;
    }

    .p_card:hover {
        color: white;
        background-color: black;
    }


    img {
        border: 10px solid black;
        border-radius: 20px;
        width: 25vw;

    }

    .footer {
        right: 0;
        left: 0;
        bottom: 0;
        background: black;
        color: rgb(255, 255, 255);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: initial;
        gap: 5vw;
        padding: 3vw;
        font-size: 2vw;
        height: 100%;
    }

    .heading {
        margin-top: 20px;
        /* padding-left: 100px; */
        text-align: start;
        font-weight: bold;
        font-style: italic;
        font-size: 6vw;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .long {
        width: 30vw;
        height: 20vw;
    }

    .test {
        border: 10px solid black;
    }

    .head {
        font-size: 5vw;
        font-weight: bold;
        cursor: none;
    }

    .f_a {
        text-decoration: none;
        color: white;
    }

    li {
        margin-bottom: 2vw;
    }

    .profile {
        border-radius: 50%;
        width: 10vw;
        transition: 1s;
    }

    .icon {
        color: #ffffff;
        font-size: 3vw;
        padding: 2vw;
    }
}

@media (max-width:856px) {
    body {
        font-family: 'Caveat', cursive;
        margin: 0;
        padding: 0;
        text-align: center;
        background-size: cover;
        background-image: linear-gradient(to right, #e6e6e9, #c3c3e6, #e6e6e9);
    }

    .nav {
        font-size: 4vw;
        margin: 10px auto;
        background: rgba(69, 69, 87, 0.1);
        backdrop-filter: blur(8px);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 3vw;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 2vw 3vw;
        max-width: fit-content;
        border-radius: 20px;
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1), -3px -3px 8px rgba(0, 0, 0, 0.1);
        z-index: 1;
    }

    .nav a {
        background-color: rgb(255, 255, 255, 0.8);
        padding: 0.5vw 3vw;
        border-radius: 20px;
        text-decoration: none;
        color: black;
        font-weight: bold;
        transition: 0.5s;
    }

    .nav a:hover {
        background-color: rgb(0, 0, 0);
        color: white;
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1), -3px -3px 8px rgba(0, 0, 0, 0.1);
    }

    .name {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-top: 20vw;
    }

    .name span {
        font-weight: bold;
        font-style: italic;
        font-size: 10vw;
    }

    .sub {
        margin: 30px auto;
        max-width: fit-content;
        font-size: 4vw;
    }



    .about {
        margin: 5vw;
        padding: 2.5vw;
        border-radius: 20px;
        background: rgba(69, 69, 87, 0.1);
        backdrop-filter: blur(8px);
        box-shadow: 8px 8px 10px rgba(69, 69, 87, 0.3), -1px -1px 10px rgba(69, 69, 87, 0.3);
        transition: 0.5s;
    }

    .about p {
        font-size: 5vw;
    }

    .about:hover {
        color: white;
        background: black;
    }

    .project {
        margin: 5vw;
        padding: 2.5vw;
        border-radius: 20px;
        background: rgba(69, 69, 87, 0.1);
        backdrop-filter: blur(8px);
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        min-width: fit-content;
        box-shadow: 8px 8px 10px rgba(69, 69, 87, 0.3), -1px -1px 10px rgba(69, 69, 87, 0.3);
    }

    .p_container {
        font-size: 5vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 5vw;
        font-weight: bold;
    }

    .p_card {
        background: white;
        padding: 5vw;
        max-width: fit-content;
        border-radius: 20px;
        transition: 0.5s;
        box-shadow: 8px 8px 10px rgba(69, 69, 87, 0.3), -1px -1px 10px rgba(69, 69, 87, 0.3);
        font-weight: bold;
    }

    .p_card:hover {
        color: white;
        background-color: black;
    }


    img {
        border: 5px solid black;
        border-radius: 20px;
        width: 50vw;

    }

    .footer {
        right: 0;
        left: 0;
        bottom: 0;
        background: black;
        color: rgb(255, 255, 255);
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 3vw;
        justify-content: center;
        align-items: initial;
        padding: 5vw;
        height: 100%;
        font-size: 3vw;
    }

    .heading {
        margin-top: 3vw;
        /* padding-left: 100px; */
        text-align: start;
        font-weight: bold;
        font-style: italic;
        font-size: 9vw;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .long {
        width: 50vw;
    }

    .test {
        border: 5px solid black;
    }

    .head {
        font-size: 6vw;
        font-weight: bold;
    }

    .f_a {
        text-decoration: none;
        color: white;
    }

    li {
        margin-bottom: 20px;
    }

    .profile {
        border-radius: 50%;
        width: 20vw;;
        transition: 1s;
    }

    .icon {
        color: #ffffff;
        font-size: 4vw;
        padding: 2vw;
    }


}