html {
    scroll-behavior: smooth;
    user-select: none;
}

body {
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-size: cover;
    box-sizing: border-box;
}

.name {
    background-image: url("images/name.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
}

.name-main {
    font-weight: bold;
}

.about {
    background-color: #EEABA2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s;
    text-align: left;
}

.project {
    background-color: rgb(226, 244, 252);
    display: flex;
    flex-direction: column;
    justify-content:start;
}

.project-container{
        display: flex;
        align-items: center;
        justify-content: center;
}

.footer
{
    background-color: black;
    color: white;
}

.footer a{
    color: white;
    text-decoration: none;
}

.social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (min-width:768px) {
    .name-main {
        font-size: 5vh;
        margin-top: 1vh;
    }

    .name-sub {
        font-size: 2vh;
        margin-top: 1.5vh;
    }

    .about {
        height: 80vh;
        padding: 10vh 10vw;
    }

    .about-sub {
        font-size: 2vh;
    }

    .about-para {
        margin-top: 10px;
        line-height: 1.5;
        font-size: 5vh;
    }

    .project {
        height: 80vh;
        padding: 10vh 10vw;
        padding: 10vw;
        gap: 20vh;
    }

    .project-head{
        font-weight: bold;
        font-size: 5vh;
    }

    .project-container{
        gap: 6vw;
    }

    .project-card{
        background-color: rgb(255, 255, 255);
        padding: 2vw;
        border-radius: 5px;
    }

    .project-container img{
        width: 20vw;
        background-size: cover;
    }

    .project-container p{
        font-size: 2vh;
        line-height: 1.5;
    }

    .footer
    {
        padding: 4vw;
    }

    .footer-q{
        line-height: 1.5;
        font-size: 2vw;
    }

    .email{
        padding: 3vh;
    }

    .social{
        margin-top: 8vh;
        font-size: 2vw;
        gap: 3vw;
    }

    .profile {
        width: 8vw;
    }
}

@media (max-width:768px) {
    .nav {
        margin: 10px auto;
        gap: 3vw;
        padding: 1vh 3vw;
        border-radius: 5vw;
    }

    .nav a {
        font-size: 3.5vw;
        padding: 0.5vh 3vw;
        border-radius: 20px;
    }

    .name {
        margin-top: 12vh;
    }

    .name span {
        font-size: 8vw;
    }

    .sub {
        padding: 2vw;
        margin: 3vw 2vw;
        font-size: 3vw;
    }

    .about {
        font-size: 3vw;
        margin: 6vh 6vw;
        padding: 2.5vw;
        border-radius: 5vw;
    }

    .project {
        margin: 6vh 6vw;
        padding: 2.5vw;
        border-radius: 5vw;
        min-width: fit-content;
    }

    .p_container {
        font-size: 3vw;
        gap: 5vw;

    }

    .p_card {
        padding: 5vw;
        border-radius: 5vw;
    }

    .more {
        margin-top: 5vw;
        margin-bottom: 3vw;
    }

    .more-btn {
        padding: 0.5vw 3vw;
        border-radius: 20px;
        font-size: 3.5vw;
    }

    /* img {
        border: 1vw solid black;
        border-radius: 5vw;
        width: 50vw;
    } */

    .footer {
        border-top-right-radius: 5vw;
        border-top-left-radius: 5vw;
        margin-top: 0 6vw;
        flex-direction: row;
        gap: 3vw;
        padding: 5vw;
        font-size: 3vw;
    }

    .heading {
        margin-top: 3vw;
        font-size: 5vw;
    }

    .head {
        font-size: 6vw;
    }

    li {
        margin-bottom: 20px;
    }

    .profile {
        width: 10vw;
    }

    .icon {
        font-size: 5vw;
        padding: 2vw;
    }
}