body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-size: cover;
    background-image: linear-gradient(to right, #e6e6e9, #f2befc, #e6e6e9);
}

.nav {
    font-size: 20px;
    margin: 10px auto;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 20px auto;
    padding: 15px 100px;
    max-width: fit-content;
    border-radius: 20px;
    z-index: 1;
}

.nav a {
    background-color: rgb(255, 255, 255, 0.7);
    padding: 5px 15px;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.nav a:hover {
    background-color: white;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1), -3px -3px 8px rgba(0, 0, 0, 0.1);
}

.name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 200px;
}

.name span {
    font-weight: bold;
    font-style: italic;
    font-size: 100px;
}

.sub {
    margin: 30px auto;
    max-width: fit-content;
}



.about{
    margin: 90px;
    padding: 40px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
    border: 10px solid black;
    transition: 0.5s;
}
.about p{
    font-size: 25px ;
}

.about:hover{
    color: white;
    background: black;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1), -8px -8px 8px rgba(0, 0, 0, 0.1);
}

.footer{
    background: black;
    color: azure;
    height: 300px;
}

.heading{
    margin-top: 20px;
    /* padding-left: 100px; */
    text-align: start;
    font-weight: bold;
    font-style: italic;
    font-size: 90px;
}
.test {
    border: 10px solid black;
}